* {
    box-sizing: border-box;
    margin: 0;
    font-family: arial, helvetica;
}

h1 {
    text-align: center;
}

.players-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.logo {
    width: 100px;
}

.bcb-logo {
    width: 10%;
    margin: 0 auto;
    display: block;
}

.bpl-text {
    text-align: left;
    font-size: 1em;
    width: 20%;
    font-weight: 700;
    padding-top: 10px;
}

.container {
    display: flex;
    padding-left: 40px;
}

.bcb-link {
    width: 1127px;
}

.follow-text {
    text-align: right;
    font-size: 1em;
    width: 20%;
    font-weight: 700;
    padding-top: 10px;
}

.bpl-text,
.follow-text:hover {
    cursor: pointer;
}

.header {
    background-color: #0f1b41;
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 10px;
}

.auction-status {
    padding-top: 10px !important;
}

.highlight {
    color: tomato;
    font-size: 4rem;
    font-weight: 700;
    margin: 50px;
}

.sub-header {
    display: flex;
    padding-left: 20em;
}